{% load staticfiles %}
<html>
	<head>
		<title>Joe's Blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/news.css' %}">
    </head>
    <body>
	    <div class="page-header">
	    	{% if user.is_authenticated %}
		        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> 
	        {% endif %}
	        <h1><a href="/">Joe's projects</a></h1>
	        <h3>A place for me to document projects, from web development and design, to rock climbing and Judo</h3>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>
    </body>
</html>